/*@media screen and (max-width: 320px)*/
@media screen and (device-width: 360px) and (device-height: 640px)/* and (-webkit-device-pixel-ratio: 3)*/{
   .navbar-brand{
        max-width: 10px;
    } 
    .nav-item{
    	max-width: 10px;
    }  
    .feature-card{
      max-width: 200px;
    }
}

@media screen and (max-width: 768px){
   .navbar-brand{
        max-width: 80px;
    }   
    .nav-item{
    	max-width: 40px
    }  
}

.jumboMain {
 background-image: url(../images/bg-library.jpg);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

body {
  font-family: 'Ubuntu', serif;
  background-color: black;    
  color: #E7F5DE;
}

footer{
  background-color: #5C3D46
}

/*add layer behind text for visibility*/
.text-vis{
  background-color: rgba(0,0,0, 0.2);
}

.card:hover .card-img{
 opacity : 0.4;
 }

div.card:hover{
  transform: scale(1.1)
 }

.card{
  background-color: #5C3D46
}

.btn,
.btn:hover,
.btn:active,
.btn:visited,
.btn:focus {
    background-color: #5C3D46;
    border-color: #5C3D46;
    color: white;
}

.btn:hover,
.btn:focus {
    background-color: transparent;
    border-color: #5C3D46;
    color: #5C3D46;
}

h1{
  font-weight:900;
}

div.courseCard:hover{
  transform: scale(1.1)
 }

.isActive{
  color: green;
}

.isInactive{
  color: red;
}

#navBarProfileSpan{
  visibility: visible
}